<div class="row">
    <div class="col-md-3">
        <h2>Insert top 5 stocks here!</h2>
    </div>
    <div class="col-md-6">
        <h2>Logged in as <%= @user.name%></h2>
        <ul>
            <% @tweets.each do |tweet| %>
                <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Insert Weather Stuff</h2>
        <%render "weather/current" %>
    </div>
</div>



