<h2>Logged in as <%= @user.name%></h2>
<section id="tweets">
    <ul>
        <% @tweets.each do |tweet| %>
            <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
        <% end %>
    </ul>
</section>


