<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
    <a href="/">
      <img src="<%= asset_path('twitter-icon.png') %>">
>>>>>>> 24ce25afce7b3b2dac86c442725c1adaac4c2ddc
    </a>
    <h1>Welcome to Twitter Stocks</h1>
    <p>Please sign in with your Twitter account to start using the app</p>
    <a type="button" class="btn btn-lg btn-default" href="/profile"><span class="glyphicon glyphicon-flash"></span>Sign in with Twitter</a>
  </div>
  <div>
    <%= render "weather/current" %>
  </div>
</div>
