<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
    </a>
    <h1>Welcome to Twitter Stocks</h1>
    <p>Please sign in with your Twitter account to start using the app</p>
    <a type="button" class="btn btn-lg btn-default" href="http://fierce-lowlands-94356.herokuapp.com/auth/twitter"><span class="glyphicon glyphicon-flash"></span>Sign in with Twitter</a>
  </div>
  <div>
    <%= render "weather/current" %>
  </div>
</div>
